

p {
color: rgb(32,32,32); 
}

h1 {
color: red; 
}

h2 {
color: green; 
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: xx-large;
	border-color: red; 
	font-weight: bold;
}

th { 
	border-color: red; 
	font-weight: normal;
}

[front=Tnr] {
font-family:Times New Roman }
[front=Arial] {
font-family:arial }
[front=Georgia] {
font-family:Georgia } 
[front=Verdana] {
font-family:Verdana } 
[front=Trebuchet] {
	font-family:Trebuchet MS } 
[front=Impact] {
	font-family:Impact } 
[front=Comic] {
font-family:Comic Sans MS } 
[front=Courier] {
font-family:Courier New }

.z21_1 {
	text-decoration: overline;
	color: red;
}